<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/home.css">
  <title>Air Bnb</title>
</head>
<body>

    <header class="header">
        <nav class="header_navbar">
            <ul class="header_nav_items">
              <li class="header_nav_items_item1 item"><a href="/">Go to Home</a></li>
               <li class="header_nav_items_item2 item"><a href="/host/add-home">Add Home</a></li>
            </ul>
        </nav>
    </header>

    <!-- main content -->
     <main class="main">

      <h1 class="main_heading">Here Are our registered homes:</h1>
      <ul class="main_items">
          <%registerHomes.forEach((result)=>{%>
            <li class="items_item">
                <%=result.houseName%>
            </li>
                <%})%>
      </ul>
     </main>
</body>
</html>
    