<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/submit.css">
  <title>home added successfully</title>
</head>
<body>
       <header>
        <nav>
            <ul>
              <li><a href="/">Go to Home</a></li>
               <li><a href="/host/add-home">Add Home</a></li>
            </ul>
        </nav>
    </header>

    <!-- main content -->
      <div class="container">
        <h1 style="color: rgba(200, 0, 0);">Home added successfully</h1>
        <p>Your home has been added to our lisiting </p>
        <button><a href="/">Return to Home</a></button>
      </div>
</body>
</html>
</body>
</html>