body{ 
    height: 100vh;
     margin: 0;
     padding: 0;
}
.header1{ 
    background-color: rgba(0, 0, 0, 0.4);
    height: 82px;
    display:flex;
    align-items: center;
}
.img1{ 
    height: 56px;
    width: 62px;
    margin-left: 43px;
    margin-right: 0px;
}
   a{ 
    color: white;
    text-decoration: none;
    border-radius: 11px;
    padding: 7px 23px;
    font-size: 21px; 
    position:relative;
    transition: all 1s ease;
    display: inline-block;
   }
   a::after{
    content: "";
    display: block;
    position:absolute;
    width: 0%;
    height:3px;
    left:0px;
    bottom: 3px;
    transition: all 1s ease;
    }
    a:hover::after{ 
    background-color: black;
    width: 100%;
    }
    a:hover{
        background-color: white;
        color: black;
    }

   .nav1{ margin-left: 24px;

   }
   
   .section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    background-image: url(./assets/home-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -83px;
    position: relative;
    z-index: -1;
    opacity: 0.9;
   }
   main section .h1-1{ color: white;
    margin-top: 100px;
    font-size: 45px;
    font-family: baloo bhai, cursive; }

 main section .pa{
    color: white;
    font-size: 18px;
    font-family: baloo bhai, cursive }

.p1{
     margin-top: -30px;}

.p2{
     margin-top: -15px; }

.button1{
   border: none;
    height: 38px;
    width: 157px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 700;
    background-color: red;
    color: white;
}
.h1-2{
    text-align: center;
    font-size: 55px;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, serif;
    color: black;
    transition: all 4s ease;
}
.h1-2:hover{
    text-decoration: underline;
}
.cards{
    display: flex;
    gap: 30px;
    padding: 0px 30px;
}
.box1{
    background-color: #f2f2f2;
   height: 219px;
    width: 410px;
    border: 2px solid brown;
    text-align: center;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 0px 20px;
}
.img2{
    height: 100px;
    margin-top: 15px;
}
.h2-1{
    font-size: 32px;
    margin-top: 3px;
    margin-bottom: -17px;
}
.p3{
    font-size: large;

}
.Clients{
     text-align: center;
    font-size: 55px;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, serif;
}
.logos{
     display: flex;
     justify-content: center;
     gap: 30px;
}
.zomato{
  height: 66px;
    width: 272px;
}
.swiggy{
    height: 66px;
    width: 272px;
}
.delhivery{
    height: 66px;
    width: 272px;
}
.contact{
    text-align: center;
    font-size: 55px;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, serif;
}

.form-box{
    width: 100%;
    height: 543px;
    display: flex;
    justify-content: center;
    background-image: url(./assets/contact-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    margin-top:0px;
}
.form{
    height: 400px;
    width: 500px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}
label{
    font-weight: 700;
    margin-left: -469px;
    font-size: 19px;
}
.labelM{
  margin-left: -450px;
}
.labelP{
    margin-left: -437px;

}
input{
  height: 32px;
    width: 518px;
    line-height: 39px;
    font-size: 16px;
}
.message{
    height: 200px;
    padding-bottom: 181px;
}
.footer{
  background-color: black;
    color: white;
    height: 55px;
    text-align: center;
    margin-top: -33px;
    font-size: 24px
}
.head4{
    padding-top: 15px;
}

