/* Hero Section */

.hero{
  height: 90vh;
  background: linear-gradient(to right,#2563eb,#7c3aed);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;

  padding: 20px;
}

.hero h1{
  font-size: 65px;
  margin-bottom: 20px;
}

.hero p{
  font-size: 22px;
  max-width: 700px;
  line-height: 35px;
}

.hero button{
  margin-top: 30px;
  padding: 14px 30px;

  border: none;
  border-radius: 8px;

  background-color: white;
  color: #2563eb;

  font-size: 18px;
  font-weight: bold;

  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover{
  background-color: #111827;
  color: white;
}
