.container{
    height: 600px;
    width: 500px;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}
.box{
    background-color: brown;
}